<!DOCTYPE html>
<html lang = 'pt-br'>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" >
<title> PÁGINA DE TESTE</title>
<link
      rel="stylesheet"
      href="{{url_for('static', filename ='styles/telalinks.css')}}"
    />
</head>
<body>
    <section class="login" id="login">
        <div class="head">
        <p>Confira o <a href="https://www.freecodecamp.org/" target="_blank" rel="noopener noreferrer">freeCodeCamp</a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/3ds_max_2015_v2_mod1.zip" target="_blank" rel="noopener noreferrer">3DS MAX 2015 (v2, mod1)</a>.</p>
        </div>
    </section>
    
</body>
</html>