<!DOCTYPE html>
<html lang = 'pt-br'>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" >
<title> LINKS</title>
    <style>
        body{
            background-color: lightskyblue;
            font-family: Arial, Helvetica, sans-serif;
        }
        
    </style>
<body >
    <h1>LINKS PARA OS MÓDULOS DOS CURSOS</h1>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/3ds_max_2015_v2_mod1.zip" target="_blank" rel="noopener noreferrer">3DS MAX 2015 (v2, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/admin_empresarial_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Administração Empresarial (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/admin_rural_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Administração Rural (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/admin_rural_v1_mod2.zip" target="_blank" rel="noopener noreferrer">Administração Rural (v1, mod2)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/adobe_dreamweaver_cs6_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Adobe Dreamweaver CS6 (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/adobe_flash_cs6_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Adobe Flash CS6 (v1, mod1)</a>.</p>
    <p><a href = "https:http://www.sistemacommetodointerativo.com.br/download/v3.0/adobe_indesign_cc_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Adobe Indesign CC</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/adobe_photoshop_cs6_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Adobe Photoshop CS6 (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/aplicativos_comerciais_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Aplicativos Comerciais (v2, mod1)</a>.</p>
    <p><a href = "https:http://www.sistemacommetodointerativo.com.br/download/v3.0/assistente_contabilidade_v3_mod1.zip" target="_blank" rel="noopener noreferrer">Assistente de Contabilidade (v3, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/caldeiraria_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Caldeiraria (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/contabilidade_pnc_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Contabilidade PNC (v2, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/contabilidade_pnc_v2_mod2.zip" target="_blank" rel="noopener noreferrer">Contabilidade PNC (v2, mod2)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/corel_draw_x6_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Corel Draw X6 (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/curriculo_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Curriculo (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/compactadores_arquivos_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Compactadores de Arquivos</a>.</p>
    <p><a href = "https:http://www.sistemacommetodointerativo.com.br/download/v3.0/departamento_pessoal_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Departamento Pessoal (v2, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/desenho_tecnico_industrial_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Desenho Técnico Industrial (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/dj_pc_v1_mod1.zip" target="_blank" rel="noopener noreferrer">DJ PC (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/dj_professional_v1_mod1.zip" target="_blank" rel="noopener noreferrer">DJ Professional (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/educacao_financeira_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Educação Financeira (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/empreendedorismo_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Empreendedorismo (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/empregabilidade_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Empregabilidade (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/farmacia_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Atendente de Farmacia (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/fluxo_controle_caixa_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Fluxo e Controle de Caixa (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/fotografia_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Fotografia (v1, mod1)</a>.</p>
    <p><a href = "https:http://www.sistemacommetodointerativo.com.br/download/v3.0/games_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Games (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/garcom_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Garçom (v1,mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/hotelaria_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Hotelaria (v1, mod1)</a>.</p>
    <p><a href = "https:www.sistemacommetodointerativo.com.br/download/v3.0/instrumentacao_industrial_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Instrumentação Industrial (v1, mod1)</a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/internet_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Internet (v2, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/internet_v2_mod2.zip" target="_blank" rel="noopener noreferrer">Internet (v2, mod2) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ipd_v2_mod1.zip" target="_blank" rel="noopener noreferrer">IPD (v2, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/kids_internet_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Kids Internet (v2, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/kids_ipd_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Kids IPD (v2, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/kids_windows_8_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Kids Windows 8 (v2, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/kids_ms_windows_10_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Kids Windows 10 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/kids_word_2013_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Kids Word 2013 (v2, mod1)</a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/leitura_dinamica_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Leitura Dinamica (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/logistica_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Logistica (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/marketing_pessoal_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Marketing Pessoal (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/marketing_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Marketing (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/matematica_financeira_hp12c_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Matematica Financeira HP12c (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/matematicafinanceiraexcel_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Matematica Financeira Excel (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/mi_internet_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Melhor Idade - Internet (v2, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/mi_ipd_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Melhor Idade - IPD (v2, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/mi_windows_8_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Melhor Idade - Windows 8 (v2, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/mi_ms_windows_10_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Melhor Idade - Windows 10 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/mi_word_2013_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Melhor Idade - Word 2013 (v2, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/mont_manut_computadores_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Montagem e Manutenção de Computadores (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_access_2013_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Access 2013 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_excel_2013_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Excel 2013 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_excel_2016_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Excel 2016 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_outlook_2013_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Outlook 2013 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_powerpoint_2013_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Power Point 2013 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_powerpoint_2016_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Power Point 2016 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_windows_10_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Windows 10 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_windows_7_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Windows 7 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_windows_7_v1_mod2.zip" target="_blank" rel="noopener noreferrer">Microsoft Windows 7 (v1, mod2) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_windows_8_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Windows 8 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_word_2013_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Word 2013 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_word_2016_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Word 2016 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/multimidia_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Multimidia (v2, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/nocoes_automacao_industrial_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Noções de Automação Industrial (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/operador_caixa_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Operador Caixa (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/operador_colhedeira_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Operador de Colhedeira (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/radio_online_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Radio Online (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/redes_sociais_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Redes Sociais (v1, mod1) </a>.</p>
    <p><a href = "https://http://www.sistemacommetodointerativo.com.br/download/v3.0/redes_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Redes (v1, mod1) </a>.</p>
    <p><a href = "https://http://www.sistemacommetodointerativo.com.br/download/v3.0/redes_v1_mod2.zip" target="_blank" rel="noopener noreferrer">Redes (v1, mod2) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/secretariado_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Secretariado (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/sucro_alcooleira_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Sucro Alcooleira (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/telemarketing_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Telemarketing (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/turismo_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Turismo (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_windows_10_lite_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Windows 10 Lite (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/twitter_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Twitter (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/vendas_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Vendas (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/youtuber_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Youtuber (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/adobe_premiere_procc_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Adobe Premiere Pro CC (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/eletricista_residencial_v2_mod1.zip" target="_blank" rel="noopener noreferrer">Eletricista Residencial (v2, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/solidworks_v1_mod1.zip" target="_blank" rel="noopener noreferrer">SolidWorks (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/html_css_v1_mod1.zip" target="_blank" rel="noopener noreferrer">HTML e CSS (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/javascript_v1_mod1.zip" target="_blank" rel="noopener noreferrer">JavaScript (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_word_2019_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Word 2019 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_excel_2019_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft Excel 2019 Básico e Avançado (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/php_v1_mod1.zip" target="_blank" rel="noopener noreferrer">PHP (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/ms_powerpoint_2019_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Microsoft PowerPoint 2019 (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/adobe_illustrator_cc_v1_mod1.zip" target="_blank" rel="noopener noreferrer">Adobe Illustrator CC (v1, mod1) </a>.</p>
    <p><a href = "https:// www.sistemacommetodointerativo.com.br/download/v3.0/c_sharp_v1_mod1.zip" target="_blank" rel="noopener noreferrer">C Sharp (v1, mod1) </a>.</p>
    <p><a href = "https://www.sistemacommetodointerativo.com.br/download/v3.0/corel_draw_2021_v1_mod1.zip" target="_blank" rel="noopener noreferrer">CorelDraw 2021 (v1, mod1) </a>.</p>
    
</body>
</html>